<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Семья</string>
			<key>uuid</key>
			<string>NE4sNbMGRjy2sGj7%dNzQw</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>5</integer>
			<key>name</key>
			<string>Каникулы</string>
			<key>uuid</key>
			<string>mlDlO8+URWiDY0CeO+CbdQ</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>✔</string>
			<key>uuid</key>
			<string>QXDJoFZuS%KQKkFrX1RVAg</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>6</integer>
			<key>name</key>
			<string>День рождения</string>
			<key>uuid</key>
			<string>iYipIR5hSrSAwxZz9JfT+Q</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>11</integer>
			<key>name</key>
			<string>Photo Booth</string>
			<key>uuid</key>
			<string>0j0qdizCRHugQ7mXxRnhmw</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>4</integer>
			<key>name</key>
			<string>Дети</string>
			<key>uuid</key>
			<string>aoJIsQAcR5yAbufazTvREA</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>2</integer>
			<key>name</key>
			<string>Избранное</string>
			<key>uuid</key>
			<string>4Et3Cr0NR46hvE3%8e+JWQ</string>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>7</integer>
</dict>
</plist>
